---
import { localizePath, type SiteLocale } from "../../lib/i18n";

import SearchPanel from "./SearchPanel.astro";

type Props = {
  locale: SiteLocale;
  panelId?: string;
};

const {
  locale,
  panelId = "site-search-inline",
} = Astro.props as Props;
const searchPath = localizePath("/search/", locale);
---

<section class="site-search-inline" id={panelId} hidden data-site-search-inline data-site-dropdown-panel>
  <div class="site-search-inline__inner">
    <SearchPanel locale={locale} mode="inline" searchPath={searchPath} />
  </div>
</section>
